.App {
  text-align: center;
}

.head2{
  padding: 20px 0 0 0;
  font-size: 1.5rem;
}

.App-header {
  background-color: #282c34;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 30px 50px;
  font-size: 2rem;
}
.final{
  background-color: #282c34;
  padding: 30px;
  margin: 20px 0;
  font-size: 2.6rem;
  color: rgba(215, 217, 227, 0.905);
  font-weight: bold;
}
.free{
  font-weight: bold;
  color: chocolate;
}
.week_plan{
  padding-top: 40px;
  font-size: 2rem;
  color: #eee;
  font-weight: bolder;
}
.plan{
  background-color:#282c34;
  margin-top: 20px;
}
  form {
  background:#282c34; 
  padding: 25px 50px 30px 70px;
  margin-top: 3px;
  }
  .title {
  align-items: center;
  margin-bottom: 20px;
  color: #eee;
  font-size: 1.5rem;
  padding: 25px 0;
  text-decoration: underline;
  text-decoration-color: rgb(27, 145, 199);
  }
  .info {
  display: flex;
  flex-direction: column;
  }
  input, textarea {
  padding: 10px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #eee;
  }
  input::placeholder {
  color: rgb(13, 13, 13);
  }
  textarea::placeholder {
    color: rgb(13, 13, 13);
    }
  button {
  width: 100%;
  }
  footer{
    padding: 20px 0;
  }